name: CI

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install python
        run: apt install python3-pip
      
      - name: Run tests
        run: python -v
        working-directory: /d/Cloud and DevOps LearnBay/github-actions/